.ob-UltimosDoadores_background {
    background-color:  #dc3545;
    height: 340px;
    margin-top: -39px;
}

.ob-whoWeAre_image {
    width: 100%;
}
.ob-UltimosDoadores_bloodtype {
    left: 20px;
    top: 20px;
}

.ob-UltimosDoadores_title {
    text-align: center;
}
.ob-whoWeAre_text {
    font-size: 1.3 rem;
}